body {
  font-family: Arial;
  padding: 20px;
}

input, button, select {
  display: block;
  margin: 10px 0;
  padding: 6px;
}

#message {
  font-weight: bold;
}

.success {
  color: green;
}

.error {
  color: red;
}

img {
  width: 100px;
}
